<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <link rel="shortcut icon" href="http://www.daporkchop.tk/favicon.ico" type="image/x-icon">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{{ site.title | default: site.github.repository_name }}</title>
  </head>
  <body>
    <div id="container">
      <div class="inner">
        <header>
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <h2>{{ site.description | default: site.github.project_tagline }}</h2>
          <ul style="padding: 10px; background: rgba(0,0,0,0.75);">
            <li style="display: inline; padding: 0px 10px 0px 10px;">
              <a href="/" style="color: #c9c9c9; font-weight: bold; text-decoration: none !important;">Home</a>
            </li>
            <li style="display: inline; padding: 0px 10px 0px 10px;">
              <a href="/porkbot" style="color: #c9c9c9; font-weight: bold; text-decoration: none !important;">Bot</a>
            </li>
            <li style="display: inline; padding: 0px 10px 0px 10px;">
              <a href="/servers" style="color: #c9c9c9; font-weight: bold; text-decoration: none !important;">Servers</a>
            </li>
            <li style="display: inline; padding: 0px 10px 0px 10px;">
              <a href="/projects" style="color: #c9c9c9; font-weight: bold; text-decoration: none !important;">Projects</a>
            </li>
            <li style="display: inline; padding: 0px 10px 0px 10px;">
              <a href="/contact" style="color: #c9c9c9; font-weight: bold; text-decoration: none !important;">Contact</a>
            </li>
          </ul>
        </header>
        <hr>
        <section id="main_content">
          {{ content }}
        </section>
      </div>
    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
    <div id="ads" style="margin-right: auto; margin-left: auto; text-align: center">
      <iframe data-aa='321331' src='https://ad.a-ads.com/321331?size=728x90' scrolling='no' style='width:728px; height:90px; border:0px; padding:0;overflow:hidden' allowtransparency='true' frameborder='0'></iframe>
      <br>
      <iframe scrolling="no" style="border: 0; width: 728px; height: 90px;" src="//coinurl.com/get.php?id=57790"></iframe>
      <br>
      <iframe src="https://coinmedia.co/new_code_site45455.js" scrolling="no" frameborder="0" width="728px" height="120px"></iframe>
      <br>
      <p>Donate to me: 16c6SxeTDfFEM16mumNav8QtFCeRHvf5S8</p>
    </div>
  </body>
</html>
