<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="http://www.daporkchop.net/favicon.ico" type="image/x-icon">
    <title>{{ site.title }}</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/"><h1>{{ site.title }}</h1></a>
        <p>{{ site.description }}</p>
        <br>
        <strong>
          <a href="http://porklib.daporkchop.net/">PorkLib</a><br>
          <a href="/porkbot">PorkBot</a><br>
          <a href="/2b2t">2b2t</a><br>
          <a href="/projects">Projects</a><br>
          <a href="/servers">Servers</a><br>
          <a href="/contact">Contact</a>
        </strong>
      </header>
      <section>

      {{ content }}

        <iframe data-aa='763390' src='//ad.a-ads.com/763390?size=728x90' scrolling='no' style='width:728px; height:90px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
      </section>
      <footer>
        <a href="/donate">Donate</a><br>
        <a href="http://www.porkchopumnmmmg7.onion/">Tor</a>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
